[Unit]
Description=Script de Monitoramento de Servidor
Wants=monitoramento_sistema.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitoramento_sistema.sh

[Install]
WantedBy=multi-user.target
